:root {
  color-scheme: dark;
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: var(--bg-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
}
